<!DOCTYPE html>
<html ng-app="triviaApp">

<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="styles/reset.css">
    <link rel="stylesheet" href="styles/main.css">
    <title>Trivia Trends</title>
    <link rel="shortcut icon" href="styles/assets/crownFavicon.png">
</head>

<body ng-controller="triviaCtrl">
    <header>
        <div></div>
        <h1>Trivia Trends</h1>
        <button><span>+</span> Add Question</button>
    </header>
    <article>
        <nav>
            <a ng-click="getQuestions()">All Questions</a>
            <a ng-click="getQuestions(0, 'easy')">Easy</a>
            <a ng-click="getQuestions(0, 'medium')">Medium</a>
            <a ng-click="getQuestions(0, 'hard')">Hard</a>
            <a ng-click="toggleSearch()">Search by Animal</a>
        </nav>
        <div ng-show="searchBarHide" class="search">
            <input type="text" placeholder="Animal to search by" ng-model="animalFilter.animal">
        </div>

        <!-- Questions go here -->
        <div ng-repeat="question in questions | filter: animalFilter">
            <div class="question-wrapper" ng-class="{green: question.answer === true, red: question.answer === false}">

                <h3><!-- Question -->{{question.question}}</h3>
                <div>
                    <!-- Difficulty -->{{question.difficulty}}
                </div>
                <div class="gear">
                    <img src="/styles/assets/gear.svg" alt="">
                </div>
                <ul ng-repeat="option in question.options">
                    <li>

                        <!-- Repeated for each option -->
                        <input ng-click="checkAnswer(question,($index + 1), question.correct_answer)" type="radio">
                        <label><!-- Option text --> {{option}}</label>
                    </li>
                </ul>

            </div>
        </div>


    </article>

    <div class="modal">
        <form>
            <h4 class="close">X</h4>
            <span>Question</span><input type="text" ng-model="question">
            <span>Animal it's about</span><input type="text" ng-model="animal">
            <span>Difficulty</span>
            <div class="range">
                <input type="range" min="1" max="3" ng-model="difficulty">

                <h5>{{newQuestion.difficulty}}</h5>
            </div>
            <h4>Options</h4>
            <div>
                <input type="radio" ng-model="placeholder" value="1">
                <input type="text" ng-model="placeholder">
            </div>
            <div>
                <input type="radio" ng-model="placeholder" value="2">
                <input type="text" ng-model="placeholder">
            </div>
            <div>
                <input type="radio" ng-model="placeholder" value="3">
                <input type="text" ng-model="placeholder">
            </div>
            <div>
                <input type="radio" ng-model="placeholder" value="4">
                <input type="text" ng-model="placeholder">
            </div>

            <!--Add question buttons-->
            <div class="buttons">
                <button class="green">Save Question</button>
                <button>Cancel</button>
            </div>

            <!--Edit & Delete question buttons-->
            <div class="buttons">
                <button class="red">Delete Question</button>
                <button class="green">Save Changes</button>
                <button>Cancel</button>
            </div>

        </form>
    </div>





    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular.js" charset="utf-8"></script>
    <script src="js/app.js" charset="utf-8"></script>
    <script src="js/ctrl.js" charset="utf-8"></script>
    <script src="js/serv.js" charset="utf-8"></script>
</body>

</html>
